@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.education {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "education training";
  gap: 2rem;
  padding: 2rem;
  color: #fb2576;
}
.education-container {
  grid-area: education;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  font-family: Poppins;
  border-radius: 10px;
}
.education-title {
  font-size: 1.5em;
}
.education-year p {
  font-size: 1em;
}
.education-year ul li {
  font-size: 1.5em;
}
.diploma button {
  font-size: 1.1em;
  background-color: #fb2576;
  color: #fff;
}
.training-container {
  grid-area: training;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 1rem;
  font-family: Poppins;
  color: #fb2576;
}
.training-title {
  font-size: 1.5em;
}
.training-year p {
  font-size: 1em;
}
.training-year ul li {
  font-size: 1.5em;
}
.training-certificate button {
  font-size: 1.1em;
  background-color: #fb2576;
  color: #fff;
}
@media (max-width: 768px) {
  .education {
    grid-template-columns: 1fr;
    grid-template-areas:
      "education"
      "training";
  }
}
