@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.imgContainer {
  height: 100vh;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(../image/rtg.jpg);
  background-size: cover;
}
.main-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "sidebar main";
  gap: 10px;
  margin: 0;
  height: 100%;
  font-family: Poppins;
}
main {
  grid-area: main;
}
.main-side h1 {
  color: #352f44;
  cursor: progress;
}
.main-side h1:hover {
  color: #5c5470;
}

aside {
  grid-area: sidebar;
  text-align: left;
  margin-top: 3rem;
  padding: 5rem;
  color: #faf0e6;
}
aside h2 {
  color: #b9b4c7;
}
section p {
  font-size: 1.3em;
}
button {
  font-size: 1.5em;
  background-color: #352f44;
  width: 10rem;
  margin-top: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 0.2rem;
}
button a:hover {
  color: #b9b4c7;
}
button a {
  list-style: none;
  text-decoration: none;
  color: #050505;
  font-size: 0.8em;
}
@media (max-width: 768px) {
  .main-side {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar"
      "main"
      "button";
  }
  .imgContainer {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 50%,
        rgba(0, 0, 0, 0.8) 50%
      ),
      url(../image/rtg.jpg);
    background-size: contain;
  }
}
