@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "navbar navbar";
  gap: 10px;
  height: 100%;
  font-family: Poppins;
}
.active {
  background-color: #5d5279;
}
nav ul li a:not(.active):hover {
  background-color: #b9b4c7;
}
nav {
  grid-area: navbar;
  background-color: #352f44;
  padding: 0.5rem;
}
nav,
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  gap: 2rem;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #faf0e6;
  padding: 1rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}
nav .title {
  font-size: 2rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #faf0e6;
}
nav .menu {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
}
nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #faf0e6;
  border-radius: 0.2rem;
}

@media (max-width: 768px) {
  .mypages {
    grid-template-columns: 1fr;
    grid-template-areas: "navbar";
  }
  nav .menu {
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: start;
  }
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  nav ul.open {
    display: flex;
  }
  nav ul li {
    width: 100%;
    text-align: center;
  }
  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
